@model WebApp.Models.CourseAssignment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CourseAssignment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Teach)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Teach.ClassDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Teachers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Teachers.ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CourseAssignmentID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
