@model WebApp.Models.Teach

@{
    ViewData["Title"] = "刪除";
    Layout = "_Layout Teacher";
}

<h1>刪除</h1>

<h3>你確定要刪除此課程?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClassDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClassDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Classroom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Classroom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.credit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.credit)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="刪除" class="btn btn-danger" /> |
        <a asp-action="Index">回到課程清單</a>
    </form>
</div>
